.opacity {
	opacity: 0;
}
body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
    color: #555;
}
@font-face {
	 font-family: joyful;
	 src: url('../joyful/joyful.ttf');
}
.overflow_hidden {
	overflow: hidden;
}
/* ---- Desktop ---- */
.desktop #popup {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.2);
    z-index: 99;
    display: none;
}
.desktop #popup .container {
	background: white;
    width: 25%;
	margin: auto;
    height: auto;
    padding: 15px;
    top: 50%;
    bottom: 50%;
	position: relative;
}
.desktop #popup .container span {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 10px;
	color: #555;
    font-size: 13px;
    font-weight: bold;
    box-sizing: border-box;
}
.desktop #popup .container strong {
	position: absolute;
    float: right;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.desktop #popup .container i {
    font-size: 40px;
    position: relative;
    padding: 10px;
    justify-content: center;
    display: flex;
}
.desktop header span {
    position: relative;
    top: 25px;
    left: 20px;
	font-family: joyful;
    font-size: 30px;
	color: #555;
}
.desktop header {
	width: 100%; 
	top:0; 
	display: inline-block; 
	z-index: 9; 
	position: fixed;
}
.desktop header nav {
	list-style: none; 
	width: 100%; 
	box-sizing: border-box; 
	display: inline-block; 
	border-bottom: 1px solid; 
	min-height: 90px; 
	border: none; 
	color: #777; 
	font-weight: bold; 
	z-index: 4; 
	background-color: #fff; 
	opacity: 1; 
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22); 
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22); 
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
}
.desktop header ul {
	display: inline-block; 
	float: right; 
	font-size: 14px; 
	position: relative; 
	right: 60px; top: 10px;
	margin: 0;
}
.desktop header nav ul li {
	float: left; 
	display: inline-block; 
	padding: 20px; 
	cursor:pointer;
}
.desktop header nav ul li a:hover {
	color: #91dce5;
}
.desktop header nav ul li a {
	color: #555;
	text-decoration: none;
}
.desktop footer {
	padding: 30px; 
	width: 100%; 
	text-align: center; 
	box-sizing: border-box; 
	position: relative; 
	top: 200px; 
	background: white; 
	z-index: 9;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
}
.desktop footer .social a {
	text-decoration: none;
    color: inherit;
}
.desktop footer .social div {
	display: inline-block;
}
.desktop footer strong {
	padding: 5px 15px;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,.7);
    color: white;
    font-size: 12px;
    display: none;
}
.desktop footer .social i {
	font-size: 25px;  
	cursor: pointer;
}
.desktop footer .social div span {
	padding: 15px;
}
.desktop .social .padding {
	padding: 15px;
}
.desktop #container div.about-us {
	display: inline-block; 
	width: 100%; 
	z-index: 8; 
	position: relative; 
	background-color: white;
}
.desktop #container div.institucional-sites {
	display: inline-block; 
	width: 100%; 
	z-index: 8; 
	position: relative; 
	background-color: white;
}
.desktop #container div p {
	padding: 0 200px 30px 200px; 
	font-size: 15px; 
	text-align: center;
}
.desktop #container span {
	font-size: 18px; 
	font-family: 'Montserrat', sans-serif; 
	font-weight: bold; 
	width: 100%; 
	display: inline-block;
	padding: 20px; 
	text-align: center; 
	box-sizing: border-box;
}
.desktop .container_banner {
	float: left; 
	height: 100vh; 
	width: 100%; 
	top: 90px; 
	position: relative;
}
.desktop .container_banner div {
	position: fixed; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%; 
	background-image: url(../pattern.png); 
	background-repeat: repeat; 
	z-index: 2;
}
.desktop .container_banner strong {
	background-image: url(../tech.jpg);
	width: 100%;
    height: 100%;
    background-position: center;
    position: fixed;
    background-size: cover;
}
.desktop .container_banner_equipe  {
	margin-top: 90px; 
	position: relative;
}
.desktop .container_banner_equipe  img {
	width: 100%; 
	height: 600px;
}
.desktop .container_banner_equipe div {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 600px;
    background-image: url(../pattern.png);
    background-repeat: repeat;
    z-index: 2;
}
.desktop .active {
	color: #91dce5;
}
.desktop .icon-whatsapp:hover {
	color: #91dce5;
}
.desktop .icon-instagran:hover {
	color: #91dce5;
}
.desktop .icon-twitter:hover {
	color: #91dce5;
}
.desktop .icon-face:hover {
	color: #91dce5;
}
/* ---- Mobile ---- */
.mobile #popup {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.2);
    z-index: 99;
    display: none;
}
.mobile #popup .container {
	background: white;
    width: 80%;
	margin: auto;
    height: auto;
    padding: 15px;
    top: 50%;
    bottom: 50%;
	position: relative;
}
.mobile #popup .container span {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 10px;
	color: #555;
    font-size: 13px;
    font-weight: bold;
    box-sizing: border-box;
}
.mobile #popup .container strong {
	position: absolute;
    float: right;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.mobile #popup .container i {
    font-size: 40px;
    position: relative;
    padding: 10px;
    justify-content: center;
    display: flex;
}
.mobile header span {
    position: relative;
    width: 100%;
    font-family: joyful;
    font-size: 30px;
    color: #555;
    text-align: center;
    display: inline-block;
    padding: 25px 0;
}
.mobile header ul {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
	-webkit-justify-content: center;
    font-size: 14px;
    width: 100%;
    padding: 0;
    margin: 0;
}
.mobile header {
	width: 100%; 
	top:0; 
	display: inline-block; 
	z-index: 9; 
	position: fixed;
}
.mobile header nav {
	list-style: none; 
	width: 100%; 
	box-sizing: border-box; 
	display: inline-block; 
	border-bottom: 1px solid; 
	min-height: 90px; 
	border: none; 
	color: #777; 
	font-weight: bold; 
	z-index: 4; 
	background-color: #fff; 
	opacity: 1; 
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22); 
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22); 
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
}
.mobile header nav ul li {
	float: left; 
	display: inline-block; 
	padding: 0 20px 20px;
	cursor:pointer;
}
.mobile header nav ul li a:hover {
	color: #91dce5;
}
.mobile header nav ul li a {
	color: #555;
	text-decoration: none;
}
.mobile footer {
	padding: 30px; 
	width: 100%; 
	text-align: center; 
	box-sizing: border-box; 
	position: relative; 
	background: white; 
	z-index: 9;
	top: 200px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
}
.mobile footer .social a {
	text-decoration: none;
    color: inherit;
}
.mobile footer .social div {
	display: inline-block;
}
.mobile footer strong {
	padding: 5px 15px;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,.7);
    color: white;
    font-size: 12px;
    display: none;
}
.mobile footer .social i {
	font-size: 25px;  
	cursor: pointer;
}
.mobile footer .social div span {
	padding: 15px;
}
.mobile .social .padding {
	padding: 15px;
}
.mobile #container div.about-us {
	display: inline-block; 
	width: 100%; 
	z-index: 8; 
	position: relative; 
	background-color: white;
}
.mobile #container div.institucional-sites {
	display: inline-block; 
	width: 100%; 
	z-index: 8; 
	position: relative; 
	background-color: white;
}
.mobile div div p {
	padding: 0 10px 10px;
	font-size: 15px; 
	text-align: center;
}
.mobile div span {
	font-size: 18px; 
	font-family: 'Montserrat', sans-serif; 
	font-weight: bold; 
	width: 100%; 
	display: inline-block;
	padding: 20px 20px 5px; 
	text-align: center; 
	box-sizing: border-box;
}
.mobile .container_banner {
	float: left; 
	height: 100vh; 
	width: 100%; 
	top: 90px; 
	position: relative;
}
.mobile .container_banner img {
	width: 100%; 
	height: 100vh; 
	position: fixed;
}
.mobile .container_banner div {
	position: fixed; 
	left: 0; 
	top: 0; 
	width: 100%; 
	height: 100%; 
	background-image: url(../pattern.png); 
	background-repeat: repeat; 
	z-index: 2;
}
.mobile .container_banner_equipe  {
	margin-top: 90px; 
	position: relative;
}
.mobile .container_banner_equipe  img {
	width: 100%; 
	height: 600px;
}
.mobile .container_banner_equipe div {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 600px;
    background-image: url(../pattern.png);
    background-repeat: repeat;
    z-index: 2;
}
.mobile .container_banner strong {
	background-image: url(../tech.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    position: fixed;
    background-size: cover;
}
.institucional-sites {
	margin-top: 80px;
}
#container .institucional-sites p:not(:last-child) {
	padding-bottom: 0px;
}
#container .institucional-sites .five-reasons-why p {
	padding-top: 0px;
}
#container .institucional-sites .five-reasons-why p span {
	padding-top: 0px;
	font-size: 16px;
}